.HomeScreenStyle {
  display: flex;
}

.HomeScreenStyle > nav {
  flex: 0.15;
  min-width: 220px;
  height: 100vh;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.HomeScreenStyle > nav > ul {
  flex: 0.8;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.HomeScreenStyle > nav > ul > h1 {
  display: flex;
  color: var(--primary-color);
  width: 50%;
  align-self: center;
  font-weight: normal;
  background-color: var(--tertiary-color);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  align-items: center;
  justify-content: space-around;
}

.HomeScreenStyle > nav > ul > h1 > svg {
  color: var(--primary-color);
}

.HomeScreenStyle > nav > ul > aside {
  flex: 1;
  color: var(--primary-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.HomeScreenStyle > nav > ul > aside > svg {
  margin-top: 10px;
  color: var(--primary-color);
  font-size: 220%;
  text-align: center;
  align-self: center;
}

.HomeScreenStyle > nav > ul > button {
  list-style: none;
  color: var(--primary-color);
  box-shadow: 0 0 15px 1px var(--tertiary-color);
  padding: 5px;
  margin: 10px;
  width: 80%;
  border-radius: 8px;
  cursor: pointer;

  font-weight: normal;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 1px;
  transition: 0.4s;
}

.HomeScreenStyle > nav > ul > button:hover,
.HomeScreenStyle > nav > ul > button:focus {
  background-color: var(--tertiary-color);
}

.HomeScreenStyle > nav > article {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0.2;
  justify-content: space-around;
  /* box-shadow: 0 0 30px 1px var(--primary-color); */
  width: 100%;
  min-height: 120px;
  overflow: hidden;
}

.HomeScreenStyle > nav > article::before {
  content: "";
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0;
  align-self: center;
  height: 2px;
  background-color: var(--primary-color);
}

.HomeScreenStyle > nav > article > div {
  display: flex;
  justify-content: space-around;
}

button.HomeButtonStyle {
  background-color: var(--secondary-color);
  box-shadow: 0 0px 15px 1px black;
  text-align: center;
  padding: 3% 3% 3% 3%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  text-align: center;
}

button.HomeButtonStyle > svg {
  font-size: 210%;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
}

.HomeScreenStyle > nav > article > div > button > svg {
  transform: rotate(180deg);
}

button.HomeButtonStyle:hover,
button.HomeButtonStyle:focus {
  background-color: var(--tertiary-color);
}

.HomeScreenStyle > nav > article > div > button:hover > svg,
.HomeScreenStyle > nav > article > div > button:focus > svg {
  transform: rotate(0deg);
}

.HomeScreenStyle > section {
  height: 100vh;
  flex: 0.85;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-around;
}

.HomeScreenStyle > section > section {
  flex: 0.35;
  display: flex;
  background-color: gray;
}

.HomeScreenStyle > section > section.ClassMessagesSectionStyle {
  position: relative;
  flex: 0.4;
  display: inherit;
  flex-flow: column-reverse;
  background-color: transparent;
  padding: 0 1% 1% 1%;
  overflow-y: scroll;
}

.HomeScreenStyle > section > section.ClassMessagesSectionStyle > form {
  display: flex;
  min-height: 70px;
  max-height: 20%;
}

.HomeScreenStyle > section > section.ClassMessagesSectionStyle > form > dl {
  flex: 0.9;
  display: inherit;
  flex-direction: column;
  background-color: transparent;
}

.HomeScreenStyle
  > section
  > section.ClassMessagesSectionStyle
  > form
  > dl
  > input,
.HomeScreenStyle
  > section
  > section.ClassMessagesSectionStyle
  > form
  > dl
  > textarea {
  flex: 1;
  width: 95%;
  background-color: var(--secondary-color);
  padding-left: 3%;
  padding-right: 3%;
  color: var(--primary-color);
  border-radius: 20px 0 0 20px;
  white-space: pre;
  word-wrap: break-word;
  display: inline-block;
  border: none;
}

.HomeScreenStyle
  > section
  > section.ClassMessagesSectionStyle
  > form
  > dl
  > input:first-child {
  margin-bottom: 1%;
}

.HomeScreenStyle > section > section.ClassMessagesSectionStyle > form > button {
  flex: 0.1;
  border-radius: 10px;
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px 1px var(--tertiary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.HomeScreenStyle > section > section.ClassMessagesSectionStyle > button {
  border: solid 2px var(--secondary-color);
  color: var(--primary-color);
  margin-bottom: 10px;
  padding: 10px;
  width: 50%;
  align-self: center;
  text-align: center;
  cursor: pointer;
}

.HomeScreenStyle > section > section.ClassMessagesSectionStyle > button:focus {
  background-color: var(--secondary-color);
}

.HomeScreenStyle > section > section.ClassMessagesSectionStyle > aside {
  position: relative;
  height: 50%;
  top: -15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dialogText {
  color: red;
}

.HomeScreenStyle > section > section.ClassMessagesSectionStyle > aside > span {
  flex: 0.2;
  vertical-align: bottom;
  text-align: center;
  color: var(--primary-color);
}

.HomeScreenStyle
  > section
  > section.ClassMessagesSectionStyle
  > form
  > button:focus {
  border: solid 1px var(--primary-color);
}

.HomeScreenStyle
  > section
  > section.ClassMessagesSectionStyle
  > form
  > button
  > svg {
  flex: 1;
  transform: rotate(90deg);
  color: var(--primary-color);
}

.HomeScreenStyle > section > section > div.SinifClassMessageComponentStyle {
  color: var(--primary-color);
  text-align: center;
  background-color: var(--secondary-color);
  padding: 4% 2% 4% 2%;
  margin: 0 0 3% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  flex-direction: column;

  border-radius: 20px;
}

.HomeScreenStyle > section > section > div.SinifClassMessageComponentStyle > p {
  font-weight: normal;
}

.HomeScreenStyle
  > section
  > section.ClassMessagesSectionStyle
  > form
  > dl
  > input::placeholder {
  color: var(--primary-color);
}

.HomeScreenStyle > nav > ul::-webkit-scrollbar,
.HomeScreenStyle
  > section
  > section.ClassMessagesSectionStyle::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

.HomeScreenStyle > nav > ul::-webkit-scrollbar-thumb,
.HomeScreenStyle
  > section
  > section.ClassMessagesSectionStyle::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}
